@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam:wght@400;500;700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

#root {
  position: relative;
  margin: 0 auto;
  max-width: 1440px;
  box-shadow: -5px 0 10px rgb(230, 230, 230), 5px 0 10px rgb(230, 230, 230);
}

body,
h1,
h2,
h3,
ul,
ol,
p {
  margin: 0px;
  padding: 0px;
}

ol,
ul {
  list-style: none;
}
