$primary-bright-red: hsl(12, 88%, 59%);
$primary-dark-blue: hsl(228, 39%, 23%);
$neutral-grayish-blue: hsl(227, 12%, 61%);
$neutral-dark-blue: hsl(233, 12%, 13%);
$neutral-pale-red: hsl(13, 100%, 96%);
$neutral-light-gray: hsl(0, 0%, 98%);

$font-family: "Be Vietnam", sans-serif;
$font-regular: 400;
$font-medium: 500;
$font-bold: 700;
